.service-line:hover .service-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #2563eb;
}

.service-line:hover .service-text {
  color: #2563eb;
  font-weight: 600;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes logo-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-marquee {
  overflow: hidden;
}

.logo-track {
  display: flex;
  min-width: max-content;
  animation: logo-marquee 60s linear infinite;
  will-change: transform;
}

.logo-marquee:hover .logo-track {
  animation-play-state: paused;
}

img {
  -webkit-user-drag: none;
  user-drag: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
